.feedback
  padding: 86px 0 0px
  height: 595px
  overflow: hidden
  position: relative
  &::after
    content: ""
    display: block
    position: absolute
    // top: -86px
    // right: -974px
    top: 0
    left: 58.5%
    width: 44%
    height: 100%
    background:
      repeat: no-repeat
      image: url('../img/feedback/form-img.jpg')
      size: 845px 595px
  &-form
    // display: flex
    // flex-direction: column
    // justify-content: center
    align-items: center
    max-width: 50%
    // position: relative
    overflow: visible
    &__title
      +ff-bold
      font-size: 2.4rem
      line-height: 35px
      margin-bottom: 44px
    &__subtitle
      display: inline-block
      +ff-light
      font-size: 1.6rem
      margin-bottom: 49px
    &__input
      // width: 270px
      width: 100%
    &-wrap
      position: relative
      display: inline-block
      width: 47%
      margin-bottom: 30px
      margin-left: 0.5%
      &:first-child
        margin-right: 3.5%
    &__btn
      width: 98.6%
      height: 70px
      font-size: 1.6rem
      margin-bottom: 25px
      margin-left: 0.5%

    &-info
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      +ff-light
      font-size: 1.5rem
      line-height: 24px
      margin-left: 4px
      &__text
        width: 225px
        text-align: left
        margin-right: 70px
      &__contact
        width: 195px
        position: relative
        vertical-align: middle
        &::before
          content: ""
          position: absolute
          top: 7px
          left: -62px
          +ico-phone(#ccc)
      &__phone
        +ff-bold
        color: $text-color
        text-decoration: none

      

