.main
  padding: 80px 0 65px
  background: $bg-light-color
  position: relative
  // overflow-x: hidden
  &::after
    content: ""
    position: absolute
    top: 62px
    left: 50%
    width: 51%
    height: 630px
    background:
      image: url(../img/main/main-img.png)
      repeat: no-repeat
      size: 110% auto
    z-index: 1
  &-wrap
    display: flex
    
  &-text
    flex-basis: 50%
    
  &__title
    +ff-bold
    font-size: 4.1rem
    line-height: 1.3em
    margin-bottom: 53px
  &__subtitle
    display: block
    font-size: 2rem
    margin-top: 25px
  &-advantages
    display: flex
    flex-direction: column
    max-width: 310px
    &__item
      display: flex
      justify-content: flex-start
      align-items: center
      margin-bottom: 25px
      
    &__img
      min-width: 41px
      height: 41px
      border-radius: 50%
      border: 2px solid $primary-color
      background-repeat: no-repeat
      background-position: center
      background-size: 20px
      margin-right: 30px
      &-1
        background-image: url('../img/main/clock-circular-outline.png')
      &-2
        background-image: url('../img/main/calculator.png')
      &-3
        background-image: url('../img/main/paint-board-and-brush.png')
    &__text
      +ff-light
      font-size: 1.4rem
      line-height: 1.7em
  &-img
    
    flex-basis: 50%
    // position: relative
    // z-index: 1
    max-width: 500px
    // transform-origin: 0 0
    // transform: scaleY(6.3)


    &__img
      // width: 500px
      // object-fit: cover
      // height: 100px
      // transform-origin: 0 0
      // transform: scale(6.3, 6.3)
      // box-shadow: 2px 2px 2px 0 #cccccc
    