@import 'vars'
@import 'normalize'
@import 'mixins'
@import 'fonts'
@import 'interface'


html
  font-size: $base-text-size
*, *::before, *::after
  box-sizing: border-box
body
  font-family: 'Museo Sans Medium', sans-serif
  background-color: #fff
  color: $text-color
  overflow-x: hidden
.container
  max-width: 1170px
  margin: 0 auto
h1, h2, h3, h4
  margin: 0
img
  max-width: 100%
.hidden
  display: none
.visible
  display: block
.flex
  display: flex !important
.no-wrap
  white-space: nowrap
.section__title
  +ff-bold
  font-size: 30px
  line-height: 1.5
.section__subtitle
  +ff-light
  font-size: 20px
  line-height: 1.5
label.error
  visibility: hidden
  position: absolute
  left: 13px
  bottom: -12px
  width: 100%
  color: red
  word-wrap: normal
  overflow-x: visible
  text-align: center
    
  
@import 'modal'
@import 'modal-success'
@import 'header'
@import 'main'
@import 'feedback'
@import 'portfolio'
@import 'price'
@import 'steps'
@import 'sentence'
@import 'request'
@import 'footer'

@import 'media/media-common'
@import 'media/media-modal'
@import 'media/media-modal-success'
@import 'media/media-header'
@import 'media/media-main'
@import 'media/media-feedback'
@import 'media/media-portfolio'
@import 'media/media-price'
@import 'media/media-steps'
@import 'media/media-sentence'
@import 'media/media-request'
@import 'media/media-footer'

@import 'animate'