@media (max-width: $lg)
  .steps
    padding: 70px 0 60px
@media (max-width: 1127px)  
  .steps
    &-cards 
      &__item
        &:not(:first-of-type)
          margin-left: 40px  
          &::before
            left: -60px

@media (max-width: $md)
  .steps
    padding: 60px 0 50px  
    &__title
      margin-bottom: 45px
      font-size: 25px
    &__subtitle
      margin-bottom: 45px 
      font-size: 18px    
    &-cards 
      &__item
        &:not(:first-of-type)
          margin-left: 15px
          &::before       
            display: none
@media (max-width: $sm)
  .steps
    padding: 50px 0 40px
    &__title
      margin-bottom: 30px
    &__subtitle
      margin-bottom: 30px       

 
@media (max-width: 484px)
  .steps-cards__item:first-of-type
    width: 320px
@media (max-width: $xxs) 
  .steps
    padding: 40px 0 30px 
    &__title
      margin-bottom: 20px
      font-size: 20px
    &__subtitle
      margin-bottom: 20px
      font-size: 16px   
// @media (max-width: $xxs) 